@model Trainer
<form asp-action="Update" method="post">
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input class="form-control" asp-for="Name" placeholder="Enter trainer name">
        <span asp-validation-for="Name"></span>
    </div>
    <span asp-validation-for="Name"></span>
    <div class="form-group">
        <label asp-for="Image">Image</label>
        <input class="form-control" asp-for="Image" placeholder="Enter trainer image url">
        <span asp-validation-for="Image"></span>
    </div>
    <span asp-validation-for="Image"></span>
    <div class="form-group">
        <label asp-for="Description">Description</label>
        <input class="form-control" asp-for="Description" placeholder="Enter description">
        <span asp-validation-for="Description"></span>
    </div>
    <span asp-validation-for="Description"></span>
    <div class="form-group">
        <label asp-for="CategoryId">Category ID</label>
        <input class="form-control" asp-for="CategoryId" placeholder="Enter category ID">
        <span asp-validation-for="CategoryId"></span>
    </div>
    <span asp-validation-for="CategoryId"></span>
    <button type="submit" class="btn btn-primary">Update</button>
</form>